.font {
    font: 10px / sans-serif;
    /* 폰트 속성으로 한번에 설정하려면 최소 폰트 크기, 글꼴은 정의해줘야 
    정상적으로 적용되고 아니면 에러 발생. 최소 이 두개는 필요함 */
}

body {
    line-height: 32px;
    line-height: 1.5;
    /* line-height 속성 : 각 줄의 높이를 설정함 
    픽셀 단위로 입력은 가능하나 일회용 성격이 높으므로 유지보수를 위해
    단위를 생략하고 입력하면 글자 크기의 N배로 적용됨
    1.4~1.7배가 가독성이 가장 좋음 */
}